--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: food_ingredients; Type: TABLE; Schema: public; Owner: nutrivana
--

CREATE TABLE public.food_ingredients (
    id integer NOT NULL,
    f_id integer NOT NULL,
    i_id integer NOT NULL,
    weight double precision NOT NULL
);


ALTER TABLE public.food_ingredients OWNER TO nutrivana;

--
-- Name: food_nutritions; Type: TABLE; Schema: public; Owner: nutrivana
--

CREATE TABLE public.food_nutritions (
    id integer NOT NULL,
    f_id integer NOT NULL,
    n_id integer NOT NULL,
    value double precision NOT NULL
);


ALTER TABLE public.food_nutritions OWNER TO nutrivana;

--
-- Name: foods; Type: TABLE; Schema: public; Owner: nutrivana
--

CREATE TABLE public.foods (
    id integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.foods OWNER TO nutrivana;

--
-- Name: ingredients; Type: TABLE; Schema: public; Owner: nutrivana
--

CREATE TABLE public.ingredients (
    id integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.ingredients OWNER TO nutrivana;

--
-- Name: nutritions; Type: TABLE; Schema: public; Owner: nutrivana
--

CREATE TABLE public.nutritions (
    id integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.nutritions OWNER TO nutrivana;

--
-- Name: food_beverages; Type: VIEW; Schema: public; Owner: nutrivana
--

CREATE VIEW public.food_beverages AS
 WITH ingredient_agg AS (
         SELECT fi.f_id,
            array_agg(i.id) AS i_ids,
            array_agg(i.name) AS i_names
           FROM (public.food_ingredients fi
             JOIN public.ingredients i ON ((i.id = fi.i_id)))
          GROUP BY fi.f_id
        )
 SELECT f.id AS f_id,
    f.name AS f_name,
    ia.i_ids,
    ia.i_names,
    max(
        CASE
            WHEN ((n.name)::text = 'Calcium'::text) THEN fn.value
            ELSE NULL::double precision
        END) AS calcium,
    max(
        CASE
            WHEN ((n.name)::text = 'Carbohydrate'::text) THEN fn.value
            ELSE NULL::double precision
        END) AS carbohydrate,
    max(
        CASE
            WHEN ((n.name)::text = 'Energy'::text) THEN fn.value
            ELSE NULL::double precision
        END) AS energy,
    max(
        CASE
            WHEN ((n.name)::text = 'Total Fat'::text) THEN fn.value
            ELSE NULL::double precision
        END) AS fat,
    max(
        CASE
            WHEN ((n.name)::text = 'Iron'::text) THEN fn.value
            ELSE NULL::double precision
        END) AS iron,
    max(
        CASE
            WHEN ((n.name)::text = 'Protein'::text) THEN fn.value
            ELSE NULL::double precision
        END) AS protein
   FROM (((public.foods f
     JOIN ingredient_agg ia ON ((ia.f_id = f.id)))
     JOIN public.food_nutritions fn ON ((fn.f_id = f.id)))
     JOIN public.nutritions n ON ((n.id = fn.n_id)))
  GROUP BY f.id, f.name, ia.i_ids, ia.i_names;


ALTER VIEW public.food_beverages OWNER TO nutrivana;

--
-- Name: food_histories; Type: TABLE; Schema: public; Owner: nutrivana
--

CREATE TABLE public.food_histories (
    id integer NOT NULL,
    f_id integer NOT NULL,
    u_id integer NOT NULL,
    date timestamp without time zone
);


ALTER TABLE public.food_histories OWNER TO nutrivana;

--
-- Name: food_histories_id_seq; Type: SEQUENCE; Schema: public; Owner: nutrivana
--

CREATE SEQUENCE public.food_histories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.food_histories_id_seq OWNER TO nutrivana;

--
-- Name: food_histories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nutrivana
--

ALTER SEQUENCE public.food_histories_id_seq OWNED BY public.food_histories.id;


--
-- Name: food_ingredients_id_seq; Type: SEQUENCE; Schema: public; Owner: nutrivana
--

CREATE SEQUENCE public.food_ingredients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.food_ingredients_id_seq OWNER TO nutrivana;

--
-- Name: food_ingredients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nutrivana
--

ALTER SEQUENCE public.food_ingredients_id_seq OWNED BY public.food_ingredients.id;


--
-- Name: food_nutritions_id_seq; Type: SEQUENCE; Schema: public; Owner: nutrivana
--

CREATE SEQUENCE public.food_nutritions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.food_nutritions_id_seq OWNER TO nutrivana;

--
-- Name: food_nutritions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nutrivana
--

ALTER SEQUENCE public.food_nutritions_id_seq OWNED BY public.food_nutritions.id;


--
-- Name: foods_id_seq; Type: SEQUENCE; Schema: public; Owner: nutrivana
--

CREATE SEQUENCE public.foods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.foods_id_seq OWNER TO nutrivana;

--
-- Name: foods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nutrivana
--

ALTER SEQUENCE public.foods_id_seq OWNED BY public.foods.id;


--
-- Name: ingredients_id_seq; Type: SEQUENCE; Schema: public; Owner: nutrivana
--

CREATE SEQUENCE public.ingredients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ingredients_id_seq OWNER TO nutrivana;

--
-- Name: ingredients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nutrivana
--

ALTER SEQUENCE public.ingredients_id_seq OWNED BY public.ingredients.id;


--
-- Name: nutritions_id_seq; Type: SEQUENCE; Schema: public; Owner: nutrivana
--

CREATE SEQUENCE public.nutritions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.nutritions_id_seq OWNER TO nutrivana;

--
-- Name: nutritions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nutrivana
--

ALTER SEQUENCE public.nutritions_id_seq OWNED BY public.nutritions.id;


--
-- Name: user_minimum_nutritions; Type: TABLE; Schema: public; Owner: nutrivana
--

CREATE TABLE public.user_minimum_nutritions (
    id integer NOT NULL,
    u_id integer NOT NULL,
    n_id integer NOT NULL,
    value double precision NOT NULL
);


ALTER TABLE public.user_minimum_nutritions OWNER TO nutrivana;

--
-- Name: user_minimum_nutritions_id_seq; Type: SEQUENCE; Schema: public; Owner: nutrivana
--

CREATE SEQUENCE public.user_minimum_nutritions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_minimum_nutritions_id_seq OWNER TO nutrivana;

--
-- Name: user_minimum_nutritions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nutrivana
--

ALTER SEQUENCE public.user_minimum_nutritions_id_seq OWNED BY public.user_minimum_nutritions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: nutrivana
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(255) NOT NULL,
    password character(60) NOT NULL,
    gender character(1),
    date_of_birth date,
    weight integer,
    height integer,
    nutrition_status character varying(10),
    CONSTRAINT users_nutrition_status_check CHECK (((nutrition_status)::text = ANY ((ARRAY['severely low'::character varying, 'low'::character varying, 'excessive'::character varying, 'possible risk of excessive'::character varying, 'good'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO nutrivana;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: nutrivana
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO nutrivana;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nutrivana
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: food_histories id; Type: DEFAULT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_histories ALTER COLUMN id SET DEFAULT nextval('public.food_histories_id_seq'::regclass);


--
-- Name: food_ingredients id; Type: DEFAULT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_ingredients ALTER COLUMN id SET DEFAULT nextval('public.food_ingredients_id_seq'::regclass);


--
-- Name: food_nutritions id; Type: DEFAULT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_nutritions ALTER COLUMN id SET DEFAULT nextval('public.food_nutritions_id_seq'::regclass);


--
-- Name: foods id; Type: DEFAULT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.foods ALTER COLUMN id SET DEFAULT nextval('public.foods_id_seq'::regclass);


--
-- Name: ingredients id; Type: DEFAULT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.ingredients ALTER COLUMN id SET DEFAULT nextval('public.ingredients_id_seq'::regclass);


--
-- Name: nutritions id; Type: DEFAULT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.nutritions ALTER COLUMN id SET DEFAULT nextval('public.nutritions_id_seq'::regclass);


--
-- Name: user_minimum_nutritions id; Type: DEFAULT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.user_minimum_nutritions ALTER COLUMN id SET DEFAULT nextval('public.user_minimum_nutritions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: food_histories; Type: TABLE DATA; Schema: public; Owner: nutrivana
--

COPY public.food_histories (id, f_id, u_id, date) FROM stdin;
\.


--
-- Data for Name: food_ingredients; Type: TABLE DATA; Schema: public; Owner: nutrivana
--



--
-- Data for Name: food_nutritions; Type: TABLE DATA; Schema: public; Owner: nutrivana
--



--
-- Data for Name: foods; Type: TABLE DATA; Schema: public; Owner: nutrivana
--



--
-- Data for Name: ingredients; Type: TABLE DATA; Schema: public; Owner: nutrivana
--



--
-- Data for Name: nutritions; Type: TABLE DATA; Schema: public; Owner: nutrivana
--

COPY public.nutritions (id, name) FROM stdin;
1	Calcium
2	Carbohydrate
3	Energy
4	Iron
5	Protein
6	Total Fat
\.


--
-- Data for Name: user_minimum_nutritions; Type: TABLE DATA; Schema: public; Owner: nutrivana
--

COPY public.user_minimum_nutritions (id, u_id, n_id, value) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: nutrivana
--

COPY public.users (id, username, password, gender, date_of_birth, weight, height, nutrition_status) FROM stdin;
\.


--
-- Name: food_histories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nutrivana
--

SELECT pg_catalog.setval('public.food_histories_id_seq', 1, false);


--
-- Name: food_ingredients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nutrivana
--

SELECT pg_catalog.setval('public.food_ingredients_id_seq', 4006, true);


--
-- Name: food_nutritions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nutrivana
--

SELECT pg_catalog.setval('public.food_nutritions_id_seq', 7860, true);


--
-- Name: foods_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nutrivana
--

SELECT pg_catalog.setval('public.foods_id_seq', 1310, true);


--
-- Name: ingredients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nutrivana
--

SELECT pg_catalog.setval('public.ingredients_id_seq', 839, true);


--
-- Name: nutritions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nutrivana
--

SELECT pg_catalog.setval('public.nutritions_id_seq', 6, true);


--
-- Name: user_minimum_nutritions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nutrivana
--

SELECT pg_catalog.setval('public.user_minimum_nutritions_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nutrivana
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: food_histories food_histories_pkey; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_histories
    ADD CONSTRAINT food_histories_pkey PRIMARY KEY (id);


--
-- Name: food_ingredients food_ingredients_f_id_i_id_key; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_ingredients
    ADD CONSTRAINT food_ingredients_f_id_i_id_key UNIQUE (f_id, i_id);


--
-- Name: food_ingredients food_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_ingredients
    ADD CONSTRAINT food_ingredients_pkey PRIMARY KEY (id);


--
-- Name: food_nutritions food_nutritions_f_id_n_id_key; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_nutritions
    ADD CONSTRAINT food_nutritions_f_id_n_id_key UNIQUE (f_id, n_id);


--
-- Name: food_nutritions food_nutritions_pkey; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_nutritions
    ADD CONSTRAINT food_nutritions_pkey PRIMARY KEY (id);


--
-- Name: foods foods_pkey; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.foods
    ADD CONSTRAINT foods_pkey PRIMARY KEY (id);


--
-- Name: ingredients ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_pkey PRIMARY KEY (id);


--
-- Name: nutritions nutritions_pkey; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.nutritions
    ADD CONSTRAINT nutritions_pkey PRIMARY KEY (id);


--
-- Name: user_minimum_nutritions user_minimum_nutritions_pkey; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.user_minimum_nutritions
    ADD CONSTRAINT user_minimum_nutritions_pkey PRIMARY KEY (id);


--
-- Name: user_minimum_nutritions user_minimum_nutritions_u_id_n_id_key; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.user_minimum_nutritions
    ADD CONSTRAINT user_minimum_nutritions_u_id_n_id_key UNIQUE (u_id, n_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: food_histories food_histories_f_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_histories
    ADD CONSTRAINT food_histories_f_id_fkey FOREIGN KEY (f_id) REFERENCES public.foods(id);


--
-- Name: food_histories food_histories_u_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_histories
    ADD CONSTRAINT food_histories_u_id_fkey FOREIGN KEY (u_id) REFERENCES public.users(id);


--
-- Name: food_ingredients food_ingredients_f_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_ingredients
    ADD CONSTRAINT food_ingredients_f_id_fkey FOREIGN KEY (f_id) REFERENCES public.foods(id);


--
-- Name: food_ingredients food_ingredients_i_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_ingredients
    ADD CONSTRAINT food_ingredients_i_id_fkey FOREIGN KEY (i_id) REFERENCES public.ingredients(id);


--
-- Name: food_nutritions food_nutritions_f_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_nutritions
    ADD CONSTRAINT food_nutritions_f_id_fkey FOREIGN KEY (f_id) REFERENCES public.foods(id);


--
-- Name: food_nutritions food_nutritions_n_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.food_nutritions
    ADD CONSTRAINT food_nutritions_n_id_fkey FOREIGN KEY (n_id) REFERENCES public.nutritions(id);


--
-- Name: user_minimum_nutritions user_minimum_nutritions_n_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.user_minimum_nutritions
    ADD CONSTRAINT user_minimum_nutritions_n_id_fkey FOREIGN KEY (n_id) REFERENCES public.nutritions(id);


--
-- Name: user_minimum_nutritions user_minimum_nutritions_u_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nutrivana
--

ALTER TABLE ONLY public.user_minimum_nutritions
    ADD CONSTRAINT user_minimum_nutritions_u_id_fkey FOREIGN KEY (u_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

